[submodule "libedgetpu"]
  path = libedgetpu
  url = https://github.com/cpcloud/libedgetpu
[submodule "test_data"]
  path = test_data
	url = https://github.com/cpcloud/test_data
	branch = meson-support
